body {
  background-color: #114898;
  background-image: url('resources/wallpaper.jpg');
  background-size: 100%;
  background-repeat: repeat;
  font-family: 'Source Code Pro', monospace;
  color: #ffffff;
  text-transform: uppercase;
}
.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}
.bol-menu {
  margin: 10px;
  max-width: 100%;
}
.table-display {
  display: grid;
  grid-template-areas:
    "col-1 col-2 col-3 col-4 col-5";
  border: 1px solid white;
  padding: 0 0 0 0;
  align-content: flex-start;
  align-items: stretch;
}
.header-row {
  background-color: #114898;
  height: 20px;
  padding: 2px 0 0 0;
}
.col-1 {
  width: 30px;
  grid-area: col-1;
}
.col-2 {
  width: 320px;
  grid-area: col-2;
}
.col-3 {
  width: 65px;
  grid-area: col-3;
}
.col-4 {
  width: 65px;
  grid-area: col-4;
}
.col-5 {
  width: 65px;
  grid-area: col-5;
}
.bol-table {
  border: 1px solid white;
  padding: 2px;
}
.bol-table:nth-child(even){
  background: #114898;
}
.bol-table:nth-child(odd) {
  background: #2765a8;
}
h4 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 15px;
  padding: 0;
  margin: 0;
}
h5 {
  font-weight: lighter;
  padding: 0;
  margin: 0;
}
.beer {
  line-height: 18px;
}
.num{
  text-align: center;
}
.price {
  text-align: center;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}

@media only screen and (max-width: 1000px) {
  .menu-wrapper {
    grid-template-columns: 100%;
  }
  .table-display {
    grid-template-areas:
      "col-1 col-2 col-2 col-2"
      "empty col-3 col-4 col-5";
  }
}
